/*
  Icon Font: hxfont
*/

@font-face {
  font-family: "hxfont";
  src: url("./hxfont.eot");
  src: url("./hxfont.eot?#iefix") format("embedded-opentype"),
       url("./hxfont.woff2") format("woff2"),
       url("./hxfont.woff") format("woff"),
       url("./hxfont.ttf") format("truetype"),
       url("./hxfont.svg#hxfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "hxfont";
    src: url("./hxfont.svg#hxfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }
[data-icon]:before,[class^="hx-"]:before {
  display: inline-block;
  font-family: "hxfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
[class^="hx-"]:after { display: none;line-height: 1.2;}
.hx-hu:before { content: "\f142"; }
.hx-huxin:before { content: "\f143"; }
.hx-hxalpha:before { content: "\f141"; }
.hx-hxbeta:before { content: "\f144"; }
.hx-xin:before { content: "\f145"; }
.hx-163music:before { content: "\f146"; }
.hx-360so:before { content: "\f147"; }
.hx-acniang:before { content: "\f148"; }
.hx-acrobat:before { content: "\f149"; }
.hx-addons:before { content: "\f14a"; }
.hx-adobe:before { content: "\f14b"; }
.hx-adobeair:before { content: "\f14c"; }
.hx-adobecc:before { content: "\f14d"; }
.hx-aftereffects:before { content: "\f14e"; }
.hx-agpl:before { content: "\f14f"; }
.hx-airbnb:before { content: "\f150"; }
.hx-aliwangwang:before { content: "\f151"; }
.hx-aliyun:before { content: "\f152"; }
.hx-amazon:before { content: "\f153"; }
.hx-angular:before { content: "\f154"; }
.hx-animate:before { content: "\f155"; }
.hx-apache:before { content: "\f156"; }
.hx-appcode:before { content: "\f157"; }
.hx-art:before { content: "\f158"; }
.hx-atom:before { content: "\f159"; }
.hx-attachment:before { content: "\f15a"; }
.hx-attachment2:before { content: "\f15b"; }
.hx-audition:before { content: "\f15c"; }
.hx-autodesk:before { content: "\f15d"; }
.hx-azure:before { content: "\f15e"; }
.hx-baidu:before { content: "\f15f"; }
.hx-baidubox:before { content: "\f160"; }
.hx-abc:before { content: "\f161"; }
.hx-anz:before { content: "\f162"; }
.hx-bae:before { content: "\f163"; }
.hx-beijing:before { content: "\f164"; }
.hx-boc:before { content: "\f165"; }
.hx-bocom:before { content: "\f166"; }
.hx-bohai:before { content: "\f167"; }
.hx-ccb:before { content: "\f168"; }
.hx-ceb:before { content: "\f169"; }
.hx-cgb:before { content: "\f16a"; }
.hx-cib:before { content: "\f16b"; }
.hx-citi:before { content: "\f16c"; }
.hx-citic:before { content: "\f16d"; }
.hx-cmb:before { content: "\f16e"; }
.hx-cmbc:before { content: "\f16f"; }
.hx-dahsing:before { content: "\f170"; }
.hx-dbs:before { content: "\f171"; }
.hx-fubon:before { content: "\f172"; }
.hx-hengfeng:before { content: "\f173"; }
.hx-hengsheng:before { content: "\f174"; }
.hx-hkb:before { content: "\f175"; }
.hx-hsbc:before { content: "\f176"; }
.hx-huarun:before { content: "\f177"; }
.hx-hxb:before { content: "\f178"; }
.hx-icbc:before { content: "\f179"; }
.hx-jinshang:before { content: "\f17a"; }
.hx-mybank:before { content: "\f17b"; }
.hx-ncb:before { content: "\f17c"; }
.hx-ningbo:before { content: "\f17d"; }
.hx-ocbc:before { content: "\f17e"; }
.hx-pbc:before { content: "\f17f"; }
.hx-pingan:before { content: "\f180"; }
.hx-psbc:before { content: "\f181"; }
.hx-sc:before { content: "\f182"; }
.hx-shanghai:before { content: "\f183"; }
.hx-shengjing:before { content: "\f184"; }
.hx-spdb:before { content: "\f185"; }
.hx-taiwan:before { content: "\f186"; }
.hx-ubs:before { content: "\f187"; }
.hx-uob:before { content: "\f188"; }
.hx-webank:before { content: "\f189"; }
.hx-xinhe:before { content: "\f18a"; }
.hx-zheshang:before { content: "\f18b"; }
.hx-bilibili:before { content: "\f18c"; }
.hx-bing:before { content: "\f18d"; }
.hx-bookmark:before { content: "\f18e"; }
.hx-canonical:before { content: "\f18f"; }
.hx-cc:before { content: "\f190"; }
.hx-ccby:before { content: "\f191"; }
.hx-ccbync:before { content: "\f192"; }
.hx-ccbyncsa:before { content: "\f193"; }
.hx-ccbynd:before { content: "\f194"; }
.hx-ccbysa:before { content: "\f195"; }
.hx-clion:before { content: "\f196"; }
.hx-cloud:before { content: "\f197"; }
.hx-cnbeta:before { content: "\f198"; }
.hx-code:before { content: "\f199"; }
.hx-code2:before { content: "\f19a"; }
.hx-comment:before { content: "\f19b"; }
.hx-contact:before { content: "\f19c"; }
.hx-contactnew:before { content: "\f19d"; }
.hx-copyright:before { content: "\f19e"; }
.hx-coreldraw:before { content: "\f19f"; }
.hx-coreldraw2:before { content: "\f1a0"; }
.hx-date:before { content: "\f1a1"; }
.hx-daydream:before { content: "\f1a2"; }
.hx-deviantart:before { content: "\f1a3"; }
.hx-dingtalk:before { content: "\f1a4"; }
.hx-disable:before { content: "\f1a5"; }
.hx-dji:before { content: "\f1a6"; }
.hx-download:before { content: "\f1a7"; }
.hx-dreamweaver:before { content: "\f1a8"; }
.hx-eclipse:before { content: "\f1a9"; }
.hx-elder:before { content: "\f1aa"; }
.hx-email:before { content: "\f1ab"; }
.hx-ename:before { content: "\f1ac"; }
.hx-evernote:before { content: "\f1ad"; }
.hx-extension:before { content: "\f1ae"; }
.hx-extension2:before { content: "\f1af"; }
.hx-facebook:before { content: "\f1b0"; }
.hx-filetype:before { content: "\f1b1"; }
.hx-filetypeblank:before { content: "\f1b2"; }
.hx-flag:before { content: "\f1b3"; }
.hx-flagwaving:before { content: "\f1b4"; }
.hx-flash:before { content: "\f1b5"; }
.hx-flattr:before { content: "\f1b6"; }
.hx-flickr:before { content: "\f1b7"; }
.hx-folder:before { content: "\f1b8"; }
.hx-freebsdnew:before { content: "\f1b9"; }
.hx-ghost:before { content: "\f1ba"; }
.hx-ghostery:before { content: "\f1bb"; }
.hx-gimp:before { content: "\f1bc"; }
.hx-git:before { content: "\f1bd"; }
.hx-github:before { content: "\f1be"; }
.hx-gitlab:before { content: "\f1bf"; }
.hx-gitter:before { content: "\f1c0"; }
.hx-globe:before { content: "\f1c1"; }
.hx-gnu:before { content: "\f1c2"; }
.hx-golang:before { content: "\f1c3"; }
.hx-google:before { content: "\f1c4"; }
.hx-googleallo:before { content: "\f1c5"; }
.hx-googleduo:before { content: "\f1c6"; }
.hx-googleg:before { content: "\f1c7"; }
.hx-googleplay:before { content: "\f1c8"; }
.hx-gopro:before { content: "\f1c9"; }
.hx-gpl:before { content: "\f1ca"; }
.hx-gplus:before { content: "\f1cb"; }
.hx-hangouts:before { content: "\f1cc"; }
.hx-heart:before { content: "\f1cd"; }
.hx-heart2:before { content: "\f1ce"; }
.hx-home:before { content: "\f1cf"; }
.hx-html5:before { content: "\f1d0"; }
.hx-huaji:before { content: "\f1d1"; }
.hx-acer:before { content: "\f1d2"; }
.hx-alcatel:before { content: "\f1d3"; }
.hx-allwinner:before { content: "\f1d4"; }
.hx-amd:before { content: "\f1d5"; }
.hx-aoc:before { content: "\f1d6"; }
.hx-arduin:before { content: "\f1d7"; }
.hx-arm:before { content: "\f1d8"; }
.hx-asee:before { content: "\f1d9"; }
.hx-asus:before { content: "\f1da"; }
.hx-cisco:before { content: "\f1db"; }
.hx-dell:before { content: "\f1dc"; }
.hx-dolby:before { content: "\f1dd"; }
.hx-ericsson:before { content: "\f1de"; }
.hx-firefly:before { content: "\f1df"; }
.hx-foxconn:before { content: "\f1e0"; }
.hx-fujitsu:before { content: "\f1e1"; }
.hx-gigabyte:before { content: "\f1e2"; }
.hx-haier:before { content: "\f1e3"; }
.hx-hds:before { content: "\f1e4"; }
.hx-hisense:before { content: "\f1e5"; }
.hx-hisilicon:before { content: "\f1e6"; }
.hx-hitachi:before { content: "\f1e7"; }
.hx-hp:before { content: "\f1e8"; }
.hx-hpe:before { content: "\f1e9"; }
.hx-ibm:before { content: "\f1ea"; }
.hx-intel:before { content: "\f1eb"; }
.hx-kingston:before { content: "\f1ec"; }
.hx-logi:before { content: "\f1ed"; }
.hx-mediatek:before { content: "\f1ee"; }
.hx-msi:before { content: "\f1ef"; }
.hx-nec:before { content: "\f1f0"; }
.hx-nvidia:before { content: "\f1f1"; }
.hx-onda:before { content: "\f1f2"; }
.hx-oracle:before { content: "\f1f3"; }
.hx-panasonic:before { content: "\f1f4"; }
.hx-philips:before { content: "\f1f5"; }
.hx-playstation:before { content: "\f1f6"; }
.hx-preoator:before { content: "\f1f7"; }
.hx-qualcomm:before { content: "\f1f8"; }
.hx-raspberrypi:before { content: "\f1f9"; }
.hx-razer:before { content: "\f1fa"; }
.hx-sandisk:before { content: "\f1fb"; }
.hx-seagate:before { content: "\f1fc"; }
.hx-siemens:before { content: "\f1fd"; }
.hx-snapdragon:before { content: "\f1fe"; }
.hx-sorcair:before { content: "\f1ff"; }
.hx-system76:before { content: "\f200"; }
.hx-toshiba:before { content: "\f201"; }
.hx-wd:before { content: "\f202"; }
.hx-xbox:before { content: "\f203"; }
.hx-yamaha:before { content: "\f204"; }
.hx-yamaha2:before { content: "\f205"; }
.hx-illustrator:before { content: "\f206"; }
.hx-baidupan:before { content: "\f207"; }
.hx-pocket:before { content: "\f208"; }
.hx-qq:before { content: "\f209"; }
.hx-qqo:before { content: "\f20a"; }
.hx-reddit:before { content: "\f20b"; }
.hx-twitter:before { content: "\f20c"; }
.hx-wechat:before { content: "\f20d"; }
.hx-weibo:before { content: "\f20e"; }
.hx-whatsapp:before { content: "\f20f"; }
.hx-wiki:before { content: "\f210"; }
.hx-workwx:before { content: "\f211"; }
.hx-indesign:before { content: "\f212"; }
.hx-inkscape:before { content: "\f213"; }
.hx-instagram:before { content: "\f214"; }
.hx-intellij:before { content: "\f215"; }
.hx-internet:before { content: "\f216"; }
.hx-java:before { content: "\f217"; }
.hx-javaduke:before { content: "\f218"; }
.hx-jetbrains:before { content: "\f219"; }
.hx-jianshu:before { content: "\f21a"; }
.hx-jsf:before { content: "\f21b"; }
.hx-kindle:before { content: "\f21c"; }
.hx-kodak:before { content: "\f21d"; }
.hx-lastfm:before { content: "\f21e"; }
.hx-leaf:before { content: "\f21f"; }
.hx-left:before { content: "\f220"; }
.hx-letsencrypt:before { content: "\f221"; }
.hx-lgpl:before { content: "\f222"; }
.hx-lightroom:before { content: "\f223"; }
.hx-line:before { content: "\f224"; }
.hx-link:before { content: "\f225"; }
.hx-link2:before { content: "\f226"; }
.hx-linkedin:before { content: "\f227"; }
.hx-360chrome:before { content: "\f228"; }
.hx-360se:before { content: "\f229"; }
.hx-abp:before { content: "\f22a"; }
.hx-bdllq:before { content: "\f22b"; }
.hx-bdmllq:before { content: "\f22c"; }
.hx-chrome:before { content: "\f22d"; }
.hx-cmcm:before { content: "\f22e"; }
.hx-dolphin:before { content: "\f22f"; }
.hx-edge:before { content: "\f230"; }
.hx-firefox:before { content: "\f231"; }
.hx-ie:before { content: "\f232"; }
.hx-liebao:before { content: "\f233"; }
.hx-maxthon:before { content: "\f234"; }
.hx-midori:before { content: "\f235"; }
.hx-mxcloud:before { content: "\f236"; }
.hx-netscape:before { content: "\f237"; }
.hx-opera:before { content: "\f238"; }
.hx-operanew:before { content: "\f239"; }
.hx-qqllq:before { content: "\f23a"; }
.hx-qupzilla:before { content: "\f23b"; }
.hx-safari:before { content: "\f23c"; }
.hx-sgllq:before { content: "\f23d"; }
.hx-theworld:before { content: "\f23e"; }
.hx-tor:before { content: "\f23f"; }
.hx-uc:before { content: "\f240"; }
.hx-vivaldi:before { content: "\f241"; }
.hx-waterfox:before { content: "\f242"; }
.hx-webkit:before { content: "\f243"; }
.hx-yandex:before { content: "\f244"; }
.hx-loongson:before { content: "\f245"; }
.hx-mailblank:before { content: "\f246"; }
.hx-mailempty:before { content: "\f247"; }
.hx-map:before { content: "\f248"; }
.hx-mdn:before { content: "\f249"; }
.hx-mdnn:before { content: "\f24a"; }
.hx-meiriyw:before { content: "\f24b"; }
.hx-menu:before { content: "\f24c"; }
.hx-messenger:before { content: "\f24d"; }
.hx-microsoft:before { content: "\f24e"; }
.hx-mobile:before { content: "\f24f"; }
.hx-mozilla:before { content: "\f250"; }
.hx-360:before { content: "\f251"; }
.hx-aigo:before { content: "\f252"; }
.hx-alcatel:before { content: "\f253"; }
.hx-apple:before { content: "\f254"; }
.hx-blackberry:before { content: "\f255"; }
.hx-cardboard:before { content: "\f256"; }
.hx-coolpad:before { content: "\f257"; }
.hx-doov:before { content: "\f258"; }
.hx-galaxy:before { content: "\f259"; }
.hx-gionee:before { content: "\f25a"; }
.hx-honor:before { content: "\f25b"; }
.hx-htc:before { content: "\f25c"; }
.hx-huawei:before { content: "\f25d"; }
.hx-jianguo:before { content: "\f25e"; }
.hx-ktouch:before { content: "\f25f"; }
.hx-le:before { content: "\f260"; }
.hx-lecool:before { content: "\f261"; }
.hx-lemeng:before { content: "\f262"; }
.hx-lenovo:before { content: "\f263"; }
.hx-lg:before { content: "\f264"; }
.hx-meilan:before { content: "\f265"; }
.hx-meitu:before { content: "\f266"; }
.hx-meizu:before { content: "\f267"; }
.hx-meizuicon:before { content: "\f268"; }
.hx-mi:before { content: "\f269"; }
.hx-micromax:before { content: "\f26a"; }
.hx-moto:before { content: "\f26b"; }
.hx-nokia:before { content: "\f26c"; }
.hx-nova:before { content: "\f26d"; }
.hx-nubia:before { content: "\f26e"; }
.hx-oculus:before { content: "\f26f"; }
.hx-oneplus:before { content: "\f270"; }
.hx-oppo:before { content: "\f271"; }
.hx-ozo:before { content: "\f272"; }
.hx-pixel:before { content: "\f273"; }
.hx-rongyao:before { content: "\f274"; }
.hx-samsung:before { content: "\f275"; }
.hx-sharp:before { content: "\f276"; }
.hx-sony:before { content: "\f277"; }
.hx-tcl:before { content: "\f278"; }
.hx-vertu:before { content: "\f279"; }
.hx-vive:before { content: "\f27a"; }
.hx-vivo:before { content: "\f27b"; }
.hx-xperia:before { content: "\f27c"; }
.hx-zte:before { content: "\f27d"; }
.hx-zuk:before { content: "\f27e"; }
.hx-msg:before { content: "\f27f"; }
.hx-mysql:before { content: "\f280"; }
.hx-nginx:before { content: "\f281"; }
.hx-nodejs:before { content: "\f282"; }
.hx-onedrive:before { content: "\f283"; }
.hx-onenote:before { content: "\f284"; }
.hx-att:before { content: "\f285"; }
.hx-chinatelecom:before { content: "\f286"; }
.hx-cmcc:before { content: "\f287"; }
.hx-cmccand:before { content: "\f288"; }
.hx-cthuango:before { content: "\f289"; }
.hx-o2:before { content: "\f28a"; }
.hx-orange:before { content: "\f28b"; }
.hx-sprint:before { content: "\f28c"; }
.hx-tmobile:before { content: "\f28d"; }
.hx-unicom:before { content: "\f28e"; }
.hx-unicom4g:before { content: "\f28f"; }
.hx-unicomwo:before { content: "\f290"; }
.hx-verizon:before { content: "\f291"; }
.hx-vodafone:before { content: "\f292"; }
.hx-opengl:before { content: "\f293"; }
.hx-openoffice:before { content: "\f294"; }
.hx-opensource:before { content: "\f295"; }
.hx-openvpn:before { content: "\f296"; }
.hx-386bsd:before { content: "\f297"; }
.hx-alpinelinux:before { content: "\f298"; }
.hx-amigaos:before { content: "\f299"; }
.hx-android:before { content: "\f29a"; }
.hx-antergos:before { content: "\f29b"; }
.hx-anthon:before { content: "\f29c"; }
.hx-arch:before { content: "\f29d"; }
.hx-atari:before { content: "\f29e"; }
.hx-budgieremix:before { content: "\f29f"; }
.hx-centos:before { content: "\f2a0"; }
.hx-chakra:before { content: "\f2a1"; }
.hx-chaletos:before { content: "\f2a2"; }
.hx-chapeau:before { content: "\f2a3"; }
.hx-clearos:before { content: "\f2a4"; }
.hx-clonezilla:before { content: "\f2a5"; }
.hx-coreos:before { content: "\f2a6"; }
.hx-cyanogenmod:before { content: "\f2a7"; }
.hx-debian:before { content: "\f2a8"; }
.hx-deepin:before { content: "\f2a9"; }
.hx-dockrer:before { content: "\f2aa"; }
.hx-dragonflybsd:before { content: "\f2ab"; }
.hx-easypeasy:before { content: "\f2ac"; }
.hx-elementary:before { content: "\f2ad"; }
.hx-emind:before { content: "\f2ae"; }
.hx-fedora:before { content: "\f2af"; }
.hx-freebsd:before { content: "\f2b0"; }
.hx-freedos:before { content: "\f2b1"; }
.hx-frugalware:before { content: "\f2b2"; }
.hx-gentoo:before { content: "\f2b3"; }
.hx-gnewsense:before { content: "\f2b4"; }
.hx-gnome:before { content: "\f2b5"; }
.hx-gobuntu:before { content: "\f2b6"; }
.hx-haiku:before { content: "\f2b7"; }
.hx-ios:before { content: "\f2b8"; }
.hx-kali:before { content: "\f2b9"; }
.hx-kde:before { content: "\f2ba"; }
.hx-knoppix:before { content: "\f2bb"; }
.hx-kodi:before { content: "\f2bc"; }
.hx-kubuntu:before { content: "\f2bd"; }
.hx-kylin:before { content: "\f2be"; }
.hx-linux:before { content: "\f2bf"; }
.hx-linuxfoundation:before { content: "\f2c0"; }
.hx-lubuntu:before { content: "\f2c1"; }
.hx-luneos:before { content: "\f2c2"; }
.hx-m0n0wall:before { content: "\f2c3"; }
.hx-macos:before { content: "\f2c4"; }
.hx-mageia:before { content: "\f2c5"; }
.hx-mandriva:before { content: "\f2c6"; }
.hx-manjaro:before { content: "\f2c7"; }
.hx-mate:before { content: "\f2c8"; }
.hx-mint:before { content: "\f2c9"; }
.hx-mokee:before { content: "\f2ca"; }
.hx-neokylin:before { content: "\f2cb"; }
.hx-neon:before { content: "\f2cc"; }
.hx-nethserver:before { content: "\f2cd"; }
.hx-netrunner:before { content: "\f2ce"; }
.hx-nexenta:before { content: "\f2cf"; }
.hx-nixos:before { content: "\f2d0"; }
.hx-openbsd:before { content: "\f2d1"; }
.hx-openelec:before { content: "\f2d2"; }
.hx-openmandriva:before { content: "\f2d3"; }
.hx-opensolaris:before { content: "\f2d4"; }
.hx-opensuse:before { content: "\f2d5"; }
.hx-parrot:before { content: "\f2d6"; }
.hx-parsix:before { content: "\f2d7"; }
.hx-pclinux:before { content: "\f2d8"; }
.hx-peppermint:before { content: "\f2d9"; }
.hx-phoenixos:before { content: "\f2da"; }
.hx-pidora:before { content: "\f2db"; }
.hx-plasmamobile:before { content: "\f2dc"; }
.hx-pldlinux:before { content: "\f2dd"; }
.hx-puppy:before { content: "\f2de"; }
.hx-qomo:before { content: "\f2df"; }
.hx-qubes:before { content: "\f2e0"; }
.hx-reactos:before { content: "\f2e1"; }
.hx-redflag:before { content: "\f2e2"; }
.hx-redhat:before { content: "\f2e3"; }
.hx-remixos:before { content: "\f2e4"; }
.hx-replicant:before { content: "\f2e5"; }
.hx-riscos:before { content: "\f2e6"; }
.hx-rosa:before { content: "\f2e7"; }
.hx-sabayon:before { content: "\f2e8"; }
.hx-sailfishos:before { content: "\f2e9"; }
.hx-salix:before { content: "\f2ea"; }
.hx-savoirfaire:before { content: "\f2eb"; }
.hx-siduction:before { content: "\f2ec"; }
.hx-slackware:before { content: "\f2ed"; }
.hx-smartos:before { content: "\f2ee"; }
.hx-solus:before { content: "\f2ef"; }
.hx-steam:before { content: "\f2f0"; }
.hx-sun:before { content: "\f2f1"; }
.hx-suse:before { content: "\f2f2"; }
.hx-syberos:before { content: "\f2f3"; }
.hx-tizen:before { content: "\f2f4"; }
.hx-trisquel:before { content: "\f2f5"; }
.hx-trueos:before { content: "\f2f6"; }
.hx-ubuntu:before { content: "\f2f7"; }
.hx-ubuntugnome:before { content: "\f2f8"; }
.hx-ubuntukylin:before { content: "\f2f9"; }
.hx-ubuntumate:before { content: "\f2fa"; }
.hx-ubuntustudio:before { content: "\f2fb"; }
.hx-win10:before { content: "\f2fc"; }
.hx-win7:before { content: "\f2fd"; }
.hx-winphone:before { content: "\f2fe"; }
.hx-xfce:before { content: "\f2ff"; }
.hx-xubuntu:before { content: "\f300"; }
.hx-yunos:before { content: "\f301"; }
.hx-zorin:before { content: "\f302"; }
.hx-outlook:before { content: "\f303"; }
.hx-alipay:before { content: "\f304"; }
.hx-americanexpress:before { content: "\f305"; }
.hx-bitcoin:before { content: "\f306"; }
.hx-dinersclub:before { content: "\f307"; }
.hx-discover:before { content: "\f308"; }
.hx-jcb:before { content: "\f309"; }
.hx-mastercard:before { content: "\f30a"; }
.hx-paypal:before { content: "\f30b"; }
.hx-unionpay:before { content: "\f30c"; }
.hx-visa:before { content: "\f30d"; }
.hx-wechatpay:before { content: "\f30e"; }
.hx-people:before { content: "\f30f"; }
.hx-perl:before { content: "\f310"; }
.hx-phone:before { content: "\f311"; }
.hx-photoshop:before { content: "\f312"; }
.hx-php:before { content: "\f313"; }
.hx-phpstorm:before { content: "\f314"; }
.hx-pic:before { content: "\f315"; }
.hx-pic2:before { content: "\f316"; }
.hx-pill:before { content: "\f317"; }
.hx-pin:before { content: "\f318"; }
.hx-pindown:before { content: "\f319"; }
.hx-pinterest:before { content: "\f31a"; }
.hx-pixiv:before { content: "\f31b"; }
.hx-premiere:before { content: "\f31c"; }
.hx-pycharm:before { content: "\f31d"; }
.hx-pyq:before { content: "\f31e"; }
.hx-python:before { content: "\f31f"; }
.hx-qcloud:before { content: "\f320"; }
.hx-qianniu:before { content: "\f321"; }
.hx-qieniang:before { content: "\f322"; }
.hx-qiniu:before { content: "\f323"; }
.hx-qqmail:before { content: "\f324"; }
.hx-qqnews:before { content: "\f325"; }
.hx-qqtim:before { content: "\f326"; }
.hx-qt:before { content: "\f327"; }
.hx-qzone:before { content: "\f328"; }
.hx-resharper:before { content: "\f329"; }
.hx-ribbon:before { content: "\f32a"; }
.hx-rider:before { content: "\f32b"; }
.hx-right:before { content: "\f32c"; }
.hx-rss:before { content: "\f32d"; }
.hx-ruby:before { content: "\f32e"; }
.hx-rubymine:before { content: "\f32f"; }
.hx-rust:before { content: "\f330"; }
.hx-safe:before { content: "\f331"; }
.hx-search:before { content: "\f332"; }
.hx-setting:before { content: "\f333"; }
.hx-setting2:before { content: "\f334"; }
.hx-sfgreen:before { content: "\f335"; }
.hx-share:before { content: "\f336"; }
.hx-share2:before { content: "\f337"; }
.hx-sharearrow:before { content: "\f338"; }
.hx-skype:before { content: "\f339"; }
.hx-slack:before { content: "\f33a"; }
.hx-smile:before { content: "\f33b"; }
.hx-snapchat:before { content: "\f33c"; }
.hx-sogou:before { content: "\f33d"; }
.hx-solaris:before { content: "\f33e"; }
.hx-spotify:before { content: "\f33f"; }
.hx-stackoverflow:before { content: "\f340"; }
.hx-starred:before { content: "\f341"; }
.hx-swift:before { content: "\f342"; }
.hx-symantec:before { content: "\f343"; }
.hx-tags:before { content: "\f344"; }
.hx-telegram:before { content: "\f345"; }
.hx-tieba:before { content: "\f346"; }
.hx-todo:before { content: "\f347"; }
.hx-tumblr:before { content: "\f348"; }
.hx-ubisoft:before { content: "\f349"; }
.hx-ublock:before { content: "\f34a"; }
.hx-unity3d:before { content: "\f34b"; }
.hx-v2ex:before { content: "\f34c"; }
.hx-viber:before { content: "\f34d"; }
.hx-vim:before { content: "\f34e"; }
.hx-virtualbox:before { content: "\f34f"; }
.hx-vk:before { content: "\f350"; }
.hx-vlc:before { content: "\f351"; }
.hx-vmware:before { content: "\f352"; }
.hx-vs:before { content: "\f353"; }
.hx-vulkan:before { content: "\f354"; }
.hx-w3c:before { content: "\f355"; }
.hx-warn:before { content: "\f356"; }
.hx-webstore:before { content: "\f357"; }
.hx-webstorm:before { content: "\f358"; }
.hx-widgets:before { content: "\f359"; }
.hx-wine:before { content: "\f35a"; }
.hx-wordpress:before { content: "\f35b"; }
.hx-wps:before { content: "\f35c"; }
.hx-x64:before { content: "\f35d"; }
.hx-x64c:before { content: "\f35e"; }
.hx-x86:before { content: "\f35f"; }
.hx-x86c:before { content: "\f360"; }
.hx-xunlei:before { content: "\f361"; }
.hx-youtube:before { content: "\f362"; }
.hx-youxiangdashi:before { content: "\f363"; }
.hx-zhihu:before { content: "\f364"; }
.hx-zhimaxy:before { content: "\f365"; }
.hx-alipay:after { content: "支付宝"; }
.hx-americanexpress:after { content: "美国运通"; }
.hx-bitcoin:after { content: "比特币"; }
.hx-dinersclub:after { content: "大来卡"; }
.hx-discover:after { content: "发现卡"; }
.hx-jcb:after { content: "日财卡"; }
.hx-mastercard:after { content: "万事达卡"; }
.hx-paypal:after { content: "贝宝支付"; }
.hx-unionpay:after { content: "银联卡"; }
.hx-visa:after { content: "维萨卡"; }
.hx-wechatpay:after { content: "微信支付"; }
.hx-abc:after { content: "农业银行"; }
.hx-anz:after { content: "澳新银行"; }
.hx-bae:after { content: "东亚银行"; }
.hx-beijing:after { content: "北京银行"; }
.hx-boc:after { content: "中国银行"; }
.hx-bocom:after { content: "交通银行"; }
.hx-bohai:after { content: "渤海银行"; }
.hx-ccb:after { content: "建设银行"; }
.hx-ceb:after { content: "光大银行"; }
.hx-cgb:after { content: "广发银行"; }
.hx-cib:after { content: "兴业银行"; }
.hx-citi:after { content: "花旗银行"; }
.hx-citic:after { content: "中信银行"; }
.hx-cmb:after { content: "招商银行"; }
.hx-cmbc:after { content: "民生银行"; }
.hx-dahsing:after { content: "大新银行"; }
.hx-dbs:after { content: "星展银行"; }
.hx-fubon:after { content: "富邦银行"; }
.hx-hengfeng:after { content: "恒丰银行"; }
.hx-hengsheng:after { content: "恒生银行"; }
.hx-hkb:after { content: "汉口银行"; }
.hx-hsbc:after { content: "汇丰银行"; }
.hx-huarun:after { content: "华润银行"; }
.hx-hxb:after { content: "华夏银行"; }
.hx-icbc:after { content: "工商银行"; }
.hx-jinshang:after { content: "晋商银行"; }
.hx-mybank:after { content: "网商银行"; }
.hx-ncb:after { content: "南洋商业"; }
.hx-ningbo:after { content: "宁波银行"; }
.hx-ocbc:after { content: "华侨永亨"; }
.hx-pbc:after { content: "人民银行"; }
.hx-pingan:after { content: "平安银行"; }
.hx-psbc:after { content: "邮政储蓄"; }
.hx-sc:after { content: "渣打银行"; }
.hx-shanghai:after { content: "上海银行"; }
.hx-shengjing:after { content: "盛京银行"; }
.hx-spdb:after { content: "浦发银行"; }
.hx-taiwan:after { content: "台湾银行"; }
.hx-ubs:after { content: "瑞银集团"; }
.hx-uob:after { content: "大华银行"; }
.hx-webank:after { content: "微众银行"; }
.hx-xinhe:after { content: "中国信合"; }
.hx-zheshang:after { content: "浙商银行"; }
.hx-ie:after { content: "IE"; }
.hx-edge:after { content: "Edge"; }
.hx-firefox:after { content: "火狐"; }
.hx-chrome:after { content: "Chrome"; }
.hx-operanew:after { content: "Opera"; }
.hx-opera:after { content: "Opera"; }
.hx-safari:after { content: "Safari"; }
.hx-maxthon:after { content: "傲游"; }
.hx-mxcloud:after { content: "傲游云"; }
.hx-360se:after { content: "360安全"; }
.hx-360chrome:after { content: "360极速"; }
.hx-qqllq:after { content: "QQ"; }
.hx-bdllq:after { content: "百度"; }
.hx-sgllq:after { content: "搜狗"; }
.hx-theworld:after { content: "世界之窗"; }
.hx-vivaldi:after { content: "Vivaldi"; }
.hx-yandex:after { content: "Yandex"; }
.hx-waterfox:after { content: "水狐"; }
.hx-netscape:after { content: "网景"; }
.hx-qupzilla:after { content: "Qupzilla"; }
.hx-midori:after { content: "Midori"; }
.hx-tor:after { content: "洋葱"; }
.hx-webkit:after { content: "Webkit"; }
.hx-uc:after { content: "UC"; }
.hx-bdmllq:after { content: "百度"; }
.hx-dolphin:after { content: "海豚"; }
.hx-liebao:after { content: "猎豹"; }
.hx-cmcm:after { content: "猎豹"; }
.hx-abp:after { content: "ABP"; }
.hx-ublock:after { content: "uBlock"; }
.hx-ghostery:after { content: "Ghostery"; }
.hx-globe:after { content: "地球"; }
.hx-internet:after { content: "网络"; }
.hx-addons:after { content: "附加组件"; }
.hx-webstore:after { content: "网上商店"; }