/*
  Icon Font: hxfont
*/

@font-face {
  font-family: "hxfont";
  src: url("./hxfont.eot");
  src: url("./hxfont.eot?#iefix") format("embedded-opentype"),
       url("./hxfont.woff2") format("woff2"),
       url("./hxfont.woff") format("woff"),
       url("./hxfont.ttf") format("truetype"),
       url("./hxfont.svg#hxfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "hxfont";
    src: url("./hxfont.svg#hxfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,[class^="hx-"]:before {
  display: inline-block;
  font-family: "hxfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.hx-hu:before { content: "\f300"; }
.hx-huxin:before { content: "\f301"; }
.hx-xin:before { content: "\f302"; }
.hx-126mail:before { content: "\f303"; }
.hx-163music:before { content: "\f304"; }
.hx-360so:before { content: "\f305"; }
.hx-acniang:before { content: "\f306"; }
.hx-addons:before { content: "\f307"; }
.hx-adobe:before { content: "\f308"; }
.hx-aliwangwang:before { content: "\f309"; }
.hx-aliyun:before { content: "\f30a"; }
.hx-amazon:before { content: "\f30b"; }
.hx-atom:before { content: "\f30c"; }
.hx-attachment2:before { content: "\f30d"; }
.hx-attachment:before { content: "\f30e"; }
.hx-autodesk:before { content: "\f30f"; }
.hx-baidu:before { content: "\f310"; }
.hx-baidubox:before { content: "\f311"; }
.hx-abc:before { content: "\f312"; }
.hx-anz:before { content: "\f313"; }
.hx-bae:before { content: "\f314"; }
.hx-beijing:before { content: "\f315"; }
.hx-boc:before { content: "\f316"; }
.hx-bocom:before { content: "\f317"; }
.hx-bohai:before { content: "\f318"; }
.hx-ccb:before { content: "\f319"; }
.hx-ceb:before { content: "\f31a"; }
.hx-cgb:before { content: "\f31b"; }
.hx-cib:before { content: "\f31c"; }
.hx-citi:before { content: "\f31d"; }
.hx-citic:before { content: "\f31e"; }
.hx-cmb:before { content: "\f31f"; }
.hx-cmbc:before { content: "\f320"; }
.hx-dahsing:before { content: "\f321"; }
.hx-dbs:before { content: "\f322"; }
.hx-fubon:before { content: "\f323"; }
.hx-hengfeng:before { content: "\f324"; }
.hx-hengsheng:before { content: "\f325"; }
.hx-hkb:before { content: "\f326"; }
.hx-hsbc:before { content: "\f327"; }
.hx-huarun:before { content: "\f328"; }
.hx-hxb:before { content: "\f329"; }
.hx-icbc:before { content: "\f32a"; }
.hx-jinshang:before { content: "\f32b"; }
.hx-mybank:before { content: "\f32c"; }
.hx-ncb:before { content: "\f32d"; }
.hx-ningbo:before { content: "\f32e"; }
.hx-ocbc:before { content: "\f32f"; }
.hx-pbc:before { content: "\f330"; }
.hx-pingan:before { content: "\f331"; }
.hx-psbc:before { content: "\f332"; }
.hx-sc:before { content: "\f333"; }
.hx-shanghai:before { content: "\f334"; }
.hx-shengjing:before { content: "\f335"; }
.hx-spdb:before { content: "\f336"; }
.hx-taiwan:before { content: "\f337"; }
.hx-ubs:before { content: "\f338"; }
.hx-uob:before { content: "\f339"; }
.hx-webank:before { content: "\f33a"; }
.hx-xinhe:before { content: "\f33b"; }
.hx-zheshang:before { content: "\f33c"; }
.hx-bilibili:before { content: "\f33d"; }
.hx-bing:before { content: "\f33e"; }
.hx-bookmark:before { content: "\f33f"; }
.hx-canonical:before { content: "\f340"; }
.hx-cc:before { content: "\f341"; }
.hx-ccby:before { content: "\f342"; }
.hx-ccbync:before { content: "\f343"; }
.hx-ccbyncsa:before { content: "\f344"; }
.hx-ccbynd:before { content: "\f345"; }
.hx-ccbysa:before { content: "\f346"; }
.hx-cloud:before { content: "\f347"; }
.hx-cnbeta:before { content: "\f348"; }
.hx-code:before { content: "\f349"; }
.hx-code2:before { content: "\f34a"; }
.hx-comment:before { content: "\f34b"; }
.hx-contact:before { content: "\f34c"; }
.hx-contactnew:before { content: "\f34d"; }
.hx-copyright:before { content: "\f34e"; }
.hx-date:before { content: "\f34f"; }
.hx-deviantart:before { content: "\f350"; }
.hx-dingtalk:before { content: "\f351"; }
.hx-disable:before { content: "\f352"; }
.hx-download:before { content: "\f353"; }
.hx-elder:before { content: "\f354"; }
.hx-email:before { content: "\f355"; }
.hx-evernote:before { content: "\f356"; }
.hx-extension:before { content: "\f357"; }
.hx-extension2:before { content: "\f358"; }
.hx-facebook:before { content: "\f359"; }
.hx-filetype:before { content: "\f35a"; }
.hx-filetypeblank:before { content: "\f35b"; }
.hx-flag:before { content: "\f35c"; }
.hx-flagwaving:before { content: "\f35d"; }
.hx-flash:before { content: "\f35e"; }
.hx-flattr:before { content: "\f35f"; }
.hx-flickr:before { content: "\f360"; }
.hx-folder:before { content: "\f361"; }
.hx-ghost:before { content: "\f362"; }
.hx-ghostery:before { content: "\f363"; }
.hx-gimp:before { content: "\f364"; }
.hx-git:before { content: "\f365"; }
.hx-github:before { content: "\f366"; }
.hx-gitlab:before { content: "\f367"; }
.hx-gitter:before { content: "\f368"; }
.hx-globe:before { content: "\f369"; }
.hx-gnu:before { content: "\f36a"; }
.hx-google:before { content: "\f36b"; }
.hx-googleallo:before { content: "\f36c"; }
.hx-googleduo:before { content: "\f36d"; }
.hx-googleg:before { content: "\f36e"; }
.hx-googleplay:before { content: "\f36f"; }
.hx-gplus:before { content: "\f370"; }
.hx-hangouts:before { content: "\f371"; }
.hx-heart:before { content: "\f372"; }
.hx-heart2:before { content: "\f373"; }
.hx-home:before { content: "\f374"; }
.hx-html5:before { content: "\f375"; }
.hx-huaji:before { content: "\f376"; }
.hx-acer:before { content: "\f377"; }
.hx-alcatel:before { content: "\f378"; }
.hx-allwinner:before { content: "\f379"; }
.hx-amd:before { content: "\f37a"; }
.hx-aoc:before { content: "\f37b"; }
.hx-arduin:before { content: "\f37c"; }
.hx-arm:before { content: "\f37d"; }
.hx-asee:before { content: "\f37e"; }
.hx-asus:before { content: "\f37f"; }
.hx-cisco:before { content: "\f380"; }
.hx-dell:before { content: "\f381"; }
.hx-ericsson:before { content: "\f382"; }
.hx-firefly:before { content: "\f383"; }
.hx-foxconn:before { content: "\f384"; }
.hx-fujitsu:before { content: "\f385"; }
.hx-gigabyte:before { content: "\f386"; }
.hx-haier:before { content: "\f2ff"; }
.hx-hisense:before { content: "\f387"; }
.hx-hisilicon:before { content: "\f388"; }
.hx-hitachi:before { content: "\f389"; }
.hx-hp:before { content: "\f38a"; }
.hx-hpe:before { content: "\f38b"; }
.hx-ibm:before { content: "\f38c"; }
.hx-intel:before { content: "\f38d"; }
.hx-kingston:before { content: "\f38e"; }
.hx-logi:before { content: "\f38f"; }
.hx-loongson:before { content: "\f390"; }
.hx-mediatek:before { content: "\f391"; }
.hx-msi:before { content: "\f392"; }
.hx-nec:before { content: "\f393"; }
.hx-nvidia:before { content: "\f394"; }
.hx-onda:before { content: "\f395"; }
.hx-oracle:before { content: "\f396"; }
.hx-panasonic:before { content: "\f397"; }
.hx-philips:before { content: "\f398"; }
.hx-playstation:before { content: "\f399"; }
.hx-preoator:before { content: "\f39a"; }
.hx-qualcomm:before { content: "\f39b"; }
.hx-raspberrypi:before { content: "\f39c"; }
.hx-razer:before { content: "\f39d"; }
.hx-sandisk:before { content: "\f39e"; }
.hx-seagate:before { content: "\f39f"; }
.hx-siemens:before { content: "\f3a0"; }
.hx-snapdragon:before { content: "\f3a1"; }
.hx-system76:before { content: "\f3a2"; }
.hx-toshiba:before { content: "\f3a3"; }
.hx-wd:before { content: "\f3a4"; }
.hx-xbox:before { content: "\f3a5"; }
.hx-yamaha:before { content: "\f3a6"; }
.hx-yamaha2:before { content: "\f3a7"; }
.hx-alpha:before { content: "\f3a8"; }
.hx-inkscape:before { content: "\f3a9"; }
.hx-instagram:before { content: "\f3aa"; }
.hx-internet:before { content: "\f3ab"; }
.hx-jianshu:before { content: "\f3ac"; }
.hx-kodak:before { content: "\f3ad"; }
.hx-lastfm:before { content: "\f3ae"; }
.hx-leaf:before { content: "\f3af"; }
.hx-left:before { content: "\f3b0"; }
.hx-letsencrypt:before { content: "\f3b1"; }
.hx-line:before { content: "\f3b2"; }
.hx-link:before { content: "\f3b3"; }
.hx-link2:before { content: "\f3b4"; }
.hx-linkedin:before { content: "\f3b5"; }
.hx-360chrome:before { content: "\f3b6"; }
.hx-360se:before { content: "\f3b7"; }
.hx-abp:before { content: "\f3b8"; }
.hx-bdllq:before { content: "\f3b9"; }
.hx-bdmllq:before { content: "\f3ba"; }
.hx-chrome:before { content: "\f3bb"; }
.hx-cmcm:before { content: "\f3bc"; }
.hx-edge:before { content: "\f3bd"; }
.hx-firefox:before { content: "\f3be"; }
.hx-haitun:before { content: "\f3bf"; }
.hx-ie:before { content: "\f3c0"; }
.hx-cmcm2:before { content: "\f3c1"; }
.hx-midori:before { content: "\f3c2"; }
.hx-maxthon:before { content: "\f3c3"; }
.hx-mxcloud:before { content: "\f3c4"; }
.hx-netscape:before { content: "\f3c5"; }
.hx-operanew:before { content: "\f3c6"; }
.hx-opera:before { content: "\f3c7"; }
.hx-qqllq:before { content: "\f3c8"; }
.hx-qupzilla:before { content: "\f3c9"; }
.hx-safari:before { content: "\f3ca"; }
.hx-sogoullq:before { content: "\f3cb"; }
.hx-tor:before { content: "\f3cc"; }
.hx-theworld:before { content: "\f3cd"; }
.hx-uc:before { content: "\f3ce"; }
.hx-vivaldi:before { content: "\f3cf"; }
.hx-waterfox:before { content: "\f3d0"; }
.hx-webkit:before { content: "\f3d1"; }
.hx-yandex:before { content: "\f3d2"; }
.hx-mailblank:before { content: "\f3d3"; }
.hx-youxiangdashi:before { content: "\f3d4"; }
.hx-mailempty:before { content: "\f3d5"; }
.hx-map:before { content: "\f3d6"; }
.hx-mdn:before { content: "\f3d7"; }
.hx-mdnn:before { content: "\f3d8"; }
.hx-meiriyw:before { content: "\f3d9"; }
.hx-menu:before { content: "\f3da"; }
.hx-messenger:before { content: "\f3db"; }
.hx-microsoft:before { content: "\f3dc"; }
.hx-mobile:before { content: "\f3dd"; }
.hx-mozilla:before { content: "\f3de"; }
.hx-360:before { content: "\f3df"; }
.hx-aigo:before { content: "\f3e0"; }
.hx-apple:before { content: "\f3e1"; }
.hx-blackberry:before { content: "\f3e2"; }
.hx-cardboard:before { content: "\f3e3"; }
.hx-coolpad:before { content: "\f3e4"; }
.hx-lecool:before { content: "\f3e5"; }
.hx-doov:before { content: "\f3e6"; }
.hx-gionee:before { content: "\f3e7"; }
.hx-htc:before { content: "\f3e8"; }
.hx-vive:before { content: "\f3e9"; }
.hx-huawei:before { content: "\f3ea"; }
.hx-honor:before { content: "\f3eb"; }
.hx-nova:before { content: "\f3ec"; }
.hx-rongyao:before { content: "\f3ed"; }
.hx-jianguo:before { content: "\f3ee"; }
.hx-ktouch:before { content: "\f3ef"; }
.hx-le:before { content: "\f3f0"; }
.hx-lenovo:before { content: "\f3f1"; }
.hx-lemeng:before { content: "\f3f2"; }
.hx-moto:before { content: "\f3f3"; }
.hx-zuk:before { content: "\f3f4"; }
.hx-lg:before { content: "\f3f5"; }
.hx-meitu:before { content: "\f3f6"; }
.hx-meizu:before { content: "\f3f7"; }
.hx-meizuicon:before { content: "\f3f8"; }
.hx-meilan:before { content: "\f3f9"; }
.hx-mi:before { content: "\f3fa"; }
.hx-micromax:before { content: "\f3fb"; }
.hx-nokia:before { content: "\f3fc"; }
.hx-ozo:before { content: "\f3fd"; }
.hx-oculus:before { content: "\f3fe"; }
.hx-oneplus:before { content: "\f3ff"; }
.hx-oppo:before { content: "\f400"; }
.hx-pixel:before { content: "\f401"; }
.hx-samsung:before { content: "\f402"; }
.hx-galaxy:before { content: "\f403"; }
.hx-sharp:before { content: "\f404"; }
.hx-sony:before { content: "\f405"; }
.hx-xperia:before { content: "\f406"; }
.hx-tcl:before { content: "\f407"; }
.hx-alcatel:before { content: "\f408"; }
.hx-vertu:before { content: "\f409"; }
.hx-vivo:before { content: "\f40a"; }
.hx-zte:before { content: "\f40b"; }
.hx-nubia:before { content: "\f40c"; }
.hx-msg:before { content: "\f40d"; }
.hx-onenote:before { content: "\f40e"; }
.hx-att:before { content: "\f40f"; }
.hx-cmcc:before { content: "\f410"; }
.hx-cmccand:before { content: "\f411"; }
.hx-chinatelecom:before { content: "\f412"; }
.hx-cthuango:before { content: "\f413"; }
.hx-o2:before { content: "\f414"; }
.hx-orange:before { content: "\f415"; }
.hx-sprint:before { content: "\f416"; }
.hx-tmobile:before { content: "\f417"; }
.hx-unicom:before { content: "\f418"; }
.hx-unicom4g:before { content: "\f419"; }
.hx-unicomwo:before { content: "\f41a"; }
.hx-verizon:before { content: "\f41b"; }
.hx-vodafone:before { content: "\f41c"; }
.hx-opensource:before { content: "\f41d"; }
.hx-openvpn:before { content: "\f41e"; }
.hx-386bsd:before { content: "\f41f"; }
.hx-alpinelinux:before { content: "\f420"; }
.hx-amigaos:before { content: "\f421"; }
.hx-android:before { content: "\f422"; }
.hx-antergos:before { content: "\f423"; }
.hx-anthon:before { content: "\f424"; }
.hx-arch:before { content: "\f425"; }
.hx-atari:before { content: "\f426"; }
.hx-budgieremix:before { content: "\f427"; }
.hx-centos:before { content: "\f428"; }
.hx-chakra:before { content: "\f429"; }
.hx-chaletos:before { content: "\f42a"; }
.hx-chapeau:before { content: "\f42b"; }
.hx-clearos:before { content: "\f42c"; }
.hx-clonezilla:before { content: "\f42d"; }
.hx-coreos:before { content: "\f42e"; }
.hx-cyanogenmod:before { content: "\f42f"; }
.hx-debian:before { content: "\f430"; }
.hx-deepin:before { content: "\f431"; }
.hx-dockrer:before { content: "\f432"; }
.hx-dragonflybsd:before { content: "\f433"; }
.hx-easypeasy:before { content: "\f434"; }
.hx-elementary:before { content: "\f435"; }
.hx-emind:before { content: "\f436"; }
.hx-fedora:before { content: "\f437"; }
.hx-freebsd:before { content: "\f438"; }
.hx-freedos:before { content: "\f439"; }
.hx-frugalware:before { content: "\f43a"; }
.hx-gentoo:before { content: "\f43b"; }
.hx-gnewsense:before { content: "\f43c"; }
.hx-gnome:before { content: "\f43d"; }
.hx-gobuntu:before { content: "\f43e"; }
.hx-haiku:before { content: "\f43f"; }
.hx-kali:before { content: "\f440"; }
.hx-kde:before { content: "\f441"; }
.hx-knoppix:before { content: "\f442"; }
.hx-kodi:before { content: "\f443"; }
.hx-kubuntu:before { content: "\f444"; }
.hx-kylin:before { content: "\f445"; }
.hx-linux:before { content: "\f446"; }
.hx-linuxfoundation:before { content: "\f447"; }
.hx-lubuntu:before { content: "\f448"; }
.hx-luneos:before { content: "\f449"; }
.hx-m0n0wall:before { content: "\f44a"; }
.hx-mageia:before { content: "\f44b"; }
.hx-mandriva:before { content: "\f44c"; }
.hx-manjaro:before { content: "\f44d"; }
.hx-mate:before { content: "\f44e"; }
.hx-mint:before { content: "\f44f"; }
.hx-mokee:before { content: "\f450"; }
.hx-neokylin:before { content: "\f451"; }
.hx-neon:before { content: "\f452"; }
.hx-nethserver:before { content: "\f453"; }
.hx-netrunner:before { content: "\f454"; }
.hx-nexenta:before { content: "\f455"; }
.hx-nixos:before { content: "\f456"; }
.hx-openbsd:before { content: "\f457"; }
.hx-openelec:before { content: "\f458"; }
.hx-openmandriva:before { content: "\f459"; }
.hx-opensolaris:before { content: "\f45a"; }
.hx-opensuse:before { content: "\f45b"; }
.hx-parrot:before { content: "\f45c"; }
.hx-parsix:before { content: "\f45d"; }
.hx-pclinux:before { content: "\f45e"; }
.hx-peppermint:before { content: "\f45f"; }
.hx-phoenixos:before { content: "\f460"; }
.hx-pidora:before { content: "\f461"; }
.hx-plasmamobile:before { content: "\f462"; }
.hx-pldlinux:before { content: "\f463"; }
.hx-puppy:before { content: "\f464"; }
.hx-qomo:before { content: "\f465"; }
.hx-qubes:before { content: "\f466"; }
.hx-reactos:before { content: "\f467"; }
.hx-redflag:before { content: "\f468"; }
.hx-redhat:before { content: "\f469"; }
.hx-remixos:before { content: "\f46a"; }
.hx-replicant:before { content: "\f46b"; }
.hx-riscos:before { content: "\f46c"; }
.hx-rosa:before { content: "\f46d"; }
.hx-sabayon:before { content: "\f46e"; }
.hx-sailfishos:before { content: "\f46f"; }
.hx-salix:before { content: "\f470"; }
.hx-savoirfaire:before { content: "\f471"; }
.hx-siduction:before { content: "\f472"; }
.hx-slackware:before { content: "\f473"; }
.hx-smartos:before { content: "\f474"; }
.hx-solus:before { content: "\f475"; }
.hx-steam:before { content: "\f476"; }
.hx-sun:before { content: "\f477"; }
.hx-suse:before { content: "\f478"; }
.hx-syberos:before { content: "\f479"; }
.hx-tizen:before { content: "\f47a"; }
.hx-trisquel:before { content: "\f47b"; }
.hx-trueos:before { content: "\f47c"; }
.hx-ubuntu:before { content: "\f47d"; }
.hx-ubuntugnome:before { content: "\f47e"; }
.hx-ubuntukylin:before { content: "\f47f"; }
.hx-ubuntumate:before { content: "\f480"; }
.hx-ubuntustudio:before { content: "\f481"; }
.hx-win10:before { content: "\f482"; }
.hx-win7:before { content: "\f483"; }
.hx-winphone:before { content: "\f484"; }
.hx-xfce:before { content: "\f485"; }
.hx-xubuntu:before { content: "\f486"; }
.hx-yunos:before { content: "\f487"; }
.hx-zorin:before { content: "\f488"; }
.hx-outlook:before { content: "\f489"; }
.hx-alipay:before { content: "\f48a"; }
.hx-americanexpress:before { content: "\f48b"; }
.hx-bitcoin:before { content: "\f48c"; }
.hx-dinersclub:before { content: "\f48d"; }
.hx-discover:before { content: "\f48e"; }
.hx-jcb:before { content: "\f48f"; }
.hx-mastercard:before { content: "\f490"; }
.hx-paypal:before { content: "\f491"; }
.hx-unionpay:before { content: "\f492"; }
.hx-visa:before { content: "\f493"; }
.hx-wechatpay:before { content: "\f494"; }
.hx-people:before { content: "\f495"; }
.hx-phone:before { content: "\f496"; }
.hx-php:before { content: "\f497"; }
.hx-pic:before { content: "\f498"; }
.hx-pic2:before { content: "\f499"; }
.hx-pill:before { content: "\f49a"; }
.hx-pin:before { content: "\f49b"; }
.hx-pindown:before { content: "\f49c"; }
.hx-pinterest:before { content: "\f49d"; }
.hx-pixiv:before { content: "\f49e"; }
.hx-pyq:before { content: "\f49f"; }
.hx-python:before { content: "\f4a0"; }
.hx-qcloud:before { content: "\f4a1"; }
.hx-qianniu:before { content: "\f4a2"; }
.hx-qieniang:before { content: "\f4a3"; }
.hx-qq:before { content: "\f4a4"; }
.hx-qqmail:before { content: "\f4a5"; }
.hx-qqnews:before { content: "\f4a6"; }
.hx-qt:before { content: "\f4a7"; }
.hx-qzone:before { content: "\f4a8"; }
.hx-ribbon:before { content: "\f4a9"; }
.hx-right:before { content: "\f4aa"; }
.hx-rss:before { content: "\f4ab"; }
.hx-rust:before { content: "\f4ac"; }
.hx-safe:before { content: "\f4ad"; }
.hx-search:before { content: "\f4ae"; }
.hx-setting:before { content: "\f4af"; }
.hx-setting2:before { content: "\f4b0"; }
.hx-share:before { content: "\f4b1"; }
.hx-share2:before { content: "\f4b2"; }
.hx-sharearrow:before { content: "\f4b3"; }
.hx-skydrive:before { content: "\f4b4"; }
.hx-skype:before { content: "\f4b5"; }
.hx-slack:before { content: "\f4b6"; }
.hx-smile:before { content: "\f4b7"; }
.hx-snapchat:before { content: "\f4b8"; }
.hx-sogou:before { content: "\f4b9"; }
.hx-solaris:before { content: "\f4ba"; }
.hx-spotify:before { content: "\f4bb"; }
.hx-stackoverflow:before { content: "\f4bc"; }
.hx-starred:before { content: "\f4bd"; }
.hx-swift:before { content: "\f4be"; }
.hx-symantec:before { content: "\f4bf"; }
.hx-tags:before { content: "\f4c0"; }
.hx-telegram:before { content: "\f4c1"; }
.hx-theme:before { content: "\f4c2"; }
.hx-tieba:before { content: "\f4c3"; }
.hx-todo:before { content: "\f4c4"; }
.hx-tumblr:before { content: "\f4c5"; }
.hx-twitter:before { content: "\f4c6"; }
.hx-ublock:before { content: "\f4c7"; }
.hx-v2ex:before { content: "\f4c8"; }
.hx-viber:before { content: "\f4c9"; }
.hx-virtualbox:before { content: "\f4ca"; }
.hx-vk:before { content: "\f4cb"; }
.hx-vlc:before { content: "\f4cc"; }
.hx-vmware:before { content: "\f4cd"; }
.hx-vs:before { content: "\f4ce"; }
.hx-w3c:before { content: "\f4cf"; }
.hx-warn:before { content: "\f4d0"; }
.hx-webstore:before { content: "\f4d1"; }
.hx-wechat:before { content: "\f4d2"; }
.hx-weibo:before { content: "\f4d3"; }
.hx-whatsapp:before { content: "\f4d4"; }
.hx-widgets:before { content: "\f4d5"; }
.hx-wordpress:before { content: "\f4d6"; }
.hx-workwx:before { content: "\f4d7"; }
.hx-x64:before { content: "\f4d8"; }
.hx-x64c:before { content: "\f4d9"; }
.hx-x86:before { content: "\f4da"; }
.hx-x86c:before { content: "\f4db"; }
.hx-xunlei:before { content: "\f4dc"; }
.hx-youtube:before { content: "\f4dd"; }
.hx-zhihu:before { content: "\f4de"; }

[class^="hx-"]:after {
    display: none;
}
.hx-alipay:after { content: "支付宝"; }
.hx-americanexpress:after { content: "美国运通"; }
.hx-bitcoin:after { content: "比特币"; }
.hx-dinersclub:after { content: "大来卡"; }
.hx-discover:after { content: "发现卡"; }
.hx-jcb:after { content: "日财卡"; }
.hx-mastercard:after { content: "万事达卡"; }
.hx-paypal:after { content: "贝宝支付"; }
.hx-unionpay:after { content: "银联卡"; }
.hx-visa:after { content: "维萨卡"; }
.hx-wechatpay:after { content: "微信支付"; }
.hx-abc:after { content: "农业银行"; }
.hx-anz:after { content: "澳新银行"; }
.hx-bae:after { content: "东亚银行"; }
.hx-beijing:after { content: "北京银行"; }
.hx-boc:after { content: "中国银行"; }
.hx-bocom:after { content: "交通银行"; }
.hx-bohai:after { content: "渤海银行"; }
.hx-ccb:after { content: "建设银行"; }
.hx-ceb:after { content: "光大银行"; }
.hx-cgb:after { content: "广发银行"; }
.hx-cib:after { content: "兴业银行"; }
.hx-citi:after { content: "花旗银行"; }
.hx-citic:after { content: "中信银行"; }
.hx-cmb:after { content: "招商银行"; }
.hx-cmbc:after { content: "民生银行"; }
.hx-dahsing:after { content: "大新银行"; }
.hx-dbs:after { content: "星展银行"; }
.hx-fubon:after { content: "富邦银行"; }
.hx-hengfeng:after { content: "恒丰银行"; }
.hx-hengsheng:after { content: "恒生银行"; }
.hx-hkb:after { content: "汉口银行"; }
.hx-hsbc:after { content: "汇丰银行"; }
.hx-huarun:after { content: "华润银行"; }
.hx-hxb:after { content: "华夏银行"; }
.hx-icbc:after { content: "工商银行"; }
.hx-jinshang:after { content: "晋商银行"; }
.hx-mybank:after { content: "网商银行"; }
.hx-ncb:after { content: "南洋商业"; }
.hx-ningbo:after { content: "宁波银行"; }
.hx-ocbc:after { content: "华侨永亨银行"; }
.hx-pbc:after { content: "人民银行"; }
.hx-pingan:after { content: "平安银行"; }
.hx-psbc:after { content: "邮政储蓄"; }
.hx-sc:after { content: "渣打银行"; }
.hx-shanghai:after { content: "上海银行"; }
.hx-shengjing:after { content: "盛京银行"; }
.hx-spdb:after { content: "浦发银行"; }
.hx-taiwan:after { content: "台湾银行"; }
.hx-ubs:after { content: "瑞银集团"; }
.hx-uob:after { content: "大华银行"; }
.hx-webank:after { content: "微众银行"; }
.hx-xinhe:after { content: "中国信合"; }
.hx-zheshang:after { content: "浙商银行"; }
.hx-ie:after { content: "IE"; }
.hx-edge:after { content: "Edge"; }
.hx-firefox:after { content: "火狐"; }
.hx-chrome:after { content: "Chrome"; }
.hx-operanew:after { content: "Opera"; }
.hx-opera:after { content: "Opera"; }
.hx-safari:after { content: "Safari"; }
.hx-maxthon:after { content: "傲游"; }
.hx-mxcloud:after { content: "傲游云"; }
.hx-360se:after { content: "360安全"; }
.hx-360chrome:after { content: "360极速"; }
.hx-qqllq:after { content: "QQ"; }
.hx-bdllq:after { content: "百度"; }
.hx-sogoullq:after { content: "搜狗"; }
.hx-theworld:after { content: "世界之窗"; }
.hx-vivaldi:after { content: "Vivaldi"; }
.hx-yandex:after { content: "Yadex"; }
.hx-waterfox:after { content: "水狐"; }
.hx-netscape:after { content: "网景"; }
.hx-qupzilla:after { content: "Qupzilla"; }
.hx-midori:after { content: "Midori"; }
.hx-tor:after { content: "洋葱"; }
.hx-webkit:after { content: "Webkit"; }
.hx-uc:after { content: "UC"; }
.hx-bdmllq:after { content: "百度"; }
.hx-haitun:after { content: "海豚"; }
.hx-cmcm2:after { content: "猎豹"; }
.hx-cmcm:after { content: "猎豹"; }
.hx-abp:after { content: "ABP"; }
.hx-ublock:after { content: "uBlock"; }
.hx-ghostery:after { content: "Ghostery"; }
.hx-globe:after { content: "地球"; }
.hx-internet:after { content: "网络"; }
.hx-addons:after { content: "附加组件"; }
.hx-webstore:after { content: "网上商店"; }
