/*
  Icon Font: hxfont
*/

@font-face {
  font-family: "hxfont";
  src: url("./hxfont.eot");
  src: url("./hxfont.eot?#iefix") format("embedded-opentype"),
       url("./hxfont.woff2") format("woff2"),
       url("./hxfont.woff") format("woff"),
       url("./hxfont.ttf") format("truetype"),
       url("./hxfont.svg#hxfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "hxfont";
    src: url("./hxfont.svg#hxfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,[class^="hx-"]:before {
  display: inline-block;
  font-family: "hxfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.hx-hu:before { content: "\f4f4"; }
.hx-huxin:before { content: "\f4f5"; }
.hx-hxalpha:before { content: "\f4e1"; }
.hx-hxbeta:before { content: "\f4e2"; }
.hx-xin:before { content: "\f4f6"; }
.hx-126mail:before { content: "\f4f7"; }
.hx-163music:before { content: "\f4f8"; }
.hx-360so:before { content: "\f4f9"; }
.hx-acniang:before { content: "\f4fa"; }
.hx-addons:before { content: "\f4fb"; }
.hx-adobe:before { content: "\f4fc"; }
.hx-aliwangwang:before { content: "\f4fd"; }
.hx-aliyun:before { content: "\f4fe"; }
.hx-amazon:before { content: "\f4ff"; }
.hx-art:before { content: "\f500"; }
.hx-atom:before { content: "\f501"; }
.hx-attachment2:before { content: "\f502"; }
.hx-attachment:before { content: "\f503"; }
.hx-autodesk:before { content: "\f504"; }
.hx-baidu:before { content: "\f505"; }
.hx-baidubox:before { content: "\f506"; }
.hx-abc:before { content: "\f507"; }
.hx-anz:before { content: "\f508"; }
.hx-bae:before { content: "\f509"; }
.hx-beijing:before { content: "\f50a"; }
.hx-boc:before { content: "\f50b"; }
.hx-bocom:before { content: "\f50c"; }
.hx-bohai:before { content: "\f50d"; }
.hx-ccb:before { content: "\f50e"; }
.hx-ceb:before { content: "\f50f"; }
.hx-cgb:before { content: "\f510"; }
.hx-cib:before { content: "\f511"; }
.hx-citi:before { content: "\f512"; }
.hx-citic:before { content: "\f513"; }
.hx-cmb:before { content: "\f514"; }
.hx-cmbc:before { content: "\f515"; }
.hx-dahsing:before { content: "\f516"; }
.hx-dbs:before { content: "\f517"; }
.hx-fubon:before { content: "\f518"; }
.hx-hengfeng:before { content: "\f519"; }
.hx-hengsheng:before { content: "\f51a"; }
.hx-hkb:before { content: "\f51b"; }
.hx-hsbc:before { content: "\f51c"; }
.hx-huarun:before { content: "\f51d"; }
.hx-hxb:before { content: "\f51e"; }
.hx-icbc:before { content: "\f51f"; }
.hx-jinshang:before { content: "\f520"; }
.hx-mybank:before { content: "\f521"; }
.hx-ncb:before { content: "\f522"; }
.hx-ningbo:before { content: "\f523"; }
.hx-ocbc:before { content: "\f524"; }
.hx-pbc:before { content: "\f525"; }
.hx-pingan:before { content: "\f526"; }
.hx-psbc:before { content: "\f527"; }
.hx-sc:before { content: "\f528"; }
.hx-shanghai:before { content: "\f529"; }
.hx-shengjing:before { content: "\f52a"; }
.hx-spdb:before { content: "\f52b"; }
.hx-taiwan:before { content: "\f52c"; }
.hx-ubs:before { content: "\f52d"; }
.hx-uob:before { content: "\f52e"; }
.hx-webank:before { content: "\f52f"; }
.hx-xinhe:before { content: "\f530"; }
.hx-zheshang:before { content: "\f531"; }
.hx-bilibili:before { content: "\f532"; }
.hx-bing:before { content: "\f533"; }
.hx-bookmark:before { content: "\f534"; }
.hx-canonical:before { content: "\f535"; }
.hx-cc:before { content: "\f536"; }
.hx-ccby:before { content: "\f537"; }
.hx-ccbync:before { content: "\f538"; }
.hx-ccbyncsa:before { content: "\f539"; }
.hx-ccbynd:before { content: "\f53a"; }
.hx-ccbysa:before { content: "\f53b"; }
.hx-cloud:before { content: "\f53c"; }
.hx-cnbeta:before { content: "\f53d"; }
.hx-code:before { content: "\f53e"; }
.hx-code2:before { content: "\f53f"; }
.hx-comment:before { content: "\f540"; }
.hx-contact:before { content: "\f541"; }
.hx-contactnew:before { content: "\f542"; }
.hx-copyright:before { content: "\f543"; }
.hx-date:before { content: "\f544"; }
.hx-deviantart:before { content: "\f545"; }
.hx-dingtalk:before { content: "\f546"; }
.hx-disable:before { content: "\f547"; }
.hx-download:before { content: "\f548"; }
.hx-elder:before { content: "\f549"; }
.hx-email:before { content: "\f54a"; }
.hx-ename:before { content: "\f4e3"; }
.hx-evernote:before { content: "\f54b"; }
.hx-extension:before { content: "\f54c"; }
.hx-extension2:before { content: "\f54d"; }
.hx-facebook:before { content: "\f54e"; }
.hx-filetype:before { content: "\f54f"; }
.hx-filetypeblank:before { content: "\f550"; }
.hx-flag:before { content: "\f551"; }
.hx-flagwaving:before { content: "\f552"; }
.hx-flash:before { content: "\f553"; }
.hx-flattr:before { content: "\f554"; }
.hx-flickr:before { content: "\f555"; }
.hx-folder:before { content: "\f556"; }
.hx-ghost:before { content: "\f557"; }
.hx-ghostery:before { content: "\f558"; }
.hx-gimp:before { content: "\f559"; }
.hx-git:before { content: "\f55a"; }
.hx-github:before { content: "\f55b"; }
.hx-gitlab:before { content: "\f55c"; }
.hx-gitter:before { content: "\f55d"; }
.hx-globe:before { content: "\f55e"; }
.hx-gnu:before { content: "\f55f"; }
.hx-google:before { content: "\f560"; }
.hx-googleallo:before { content: "\f561"; }
.hx-googleduo:before { content: "\f562"; }
.hx-googleg:before { content: "\f563"; }
.hx-googleplay:before { content: "\f564"; }
.hx-gplus:before { content: "\f565"; }
.hx-hangouts:before { content: "\f566"; }
.hx-heart:before { content: "\f567"; }
.hx-heart2:before { content: "\f568"; }
.hx-home:before { content: "\f569"; }
.hx-html5:before { content: "\f56a"; }
.hx-huaji:before { content: "\f56b"; }
.hx-acer:before { content: "\f56c"; }
.hx-alcatel:before { content: "\f56d"; }
.hx-allwinner:before { content: "\f56e"; }
.hx-amd:before { content: "\f56f"; }
.hx-aoc:before { content: "\f570"; }
.hx-arduin:before { content: "\f571"; }
.hx-arm:before { content: "\f572"; }
.hx-asee:before { content: "\f573"; }
.hx-asus:before { content: "\f574"; }
.hx-cisco:before { content: "\f575"; }
.hx-dell:before { content: "\f576"; }
.hx-dolby:before { content: "\f4e4"; }
.hx-ericsson:before { content: "\f577"; }
.hx-firefly:before { content: "\f578"; }
.hx-foxconn:before { content: "\f579"; }
.hx-fujitsu:before { content: "\f57a"; }
.hx-gigabyte:before { content: "\f57b"; }
.hx-haier:before { content: "\f57c"; }
.hx-hds:before { content: "\f4e5"; }
.hx-hisense:before { content: "\f57d"; }
.hx-hisilicon:before { content: "\f57e"; }
.hx-hitachi:before { content: "\f57f"; }
.hx-hp:before { content: "\f580"; }
.hx-hpe:before { content: "\f581"; }
.hx-ibm:before { content: "\f582"; }
.hx-intel:before { content: "\f583"; }
.hx-kingston:before { content: "\f584"; }
.hx-logi:before { content: "\f585"; }
.hx-loongson:before { content: "\f586"; }
.hx-mediatek:before { content: "\f587"; }
.hx-msi:before { content: "\f588"; }
.hx-nec:before { content: "\f589"; }
.hx-nvidia:before { content: "\f58a"; }
.hx-onda:before { content: "\f58b"; }
.hx-oracle:before { content: "\f58c"; }
.hx-panasonic:before { content: "\f58d"; }
.hx-philips:before { content: "\f58e"; }
.hx-playstation:before { content: "\f58f"; }
.hx-preoator:before { content: "\f590"; }
.hx-qualcomm:before { content: "\f591"; }
.hx-raspberrypi:before { content: "\f592"; }
.hx-razer:before { content: "\f593"; }
.hx-sandisk:before { content: "\f594"; }
.hx-seagate:before { content: "\f595"; }
.hx-siemens:before { content: "\f596"; }
.hx-snapdragon:before { content: "\f597"; }
.hx-sorcair:before { content: "\f4e6"; }
.hx-system76:before { content: "\f598"; }
.hx-toshiba:before { content: "\f599"; }
.hx-wd:before { content: "\f59a"; }
.hx-xbox:before { content: "\f59b"; }
.hx-yamaha:before { content: "\f59c"; }
.hx-yamaha2:before { content: "\f59d"; }
.hx-baidupan:before { content: "\f4e7"; }
.hx-pocket:before { content: "\f4e8"; }
.hx-qq:before { content: "\f59e"; }
.hx-qqo:before { content: "\f4e9"; }
.hx-reddit:before { content: "\f4ea"; }
.hx-twitter:before { content: "\f59f"; }
.hx-wechat:before { content: "\f5a0"; }
.hx-weibo:before { content: "\f5a1"; }
.hx-whatsapp:before { content: "\f5a2"; }
.hx-wiki:before { content: "\f4eb"; }
.hx-workwx:before { content: "\f5a3"; }
.hx-inkscape:before { content: "\f5a4"; }
.hx-instagram:before { content: "\f5a5"; }
.hx-internet:before { content: "\f5a6"; }
.hx-jianshu:before { content: "\f5a7"; }
.hx-jsf:before { content: "\f4ec"; }
.hx-kodak:before { content: "\f5a8"; }
.hx-lastfm:before { content: "\f5a9"; }
.hx-leaf:before { content: "\f5aa"; }
.hx-left:before { content: "\f5ab"; }
.hx-letsencrypt:before { content: "\f5ac"; }
.hx-line:before { content: "\f5ad"; }
.hx-link:before { content: "\f5ae"; }
.hx-link2:before { content: "\f5af"; }
.hx-linkedin:before { content: "\f5b0"; }
.hx-360chrome:before { content: "\f5b1"; }
.hx-360se:before { content: "\f5b2"; }
.hx-abp:before { content: "\f5b3"; }
.hx-bdllq:before { content: "\f5b4"; }
.hx-bdmllq:before { content: "\f4ed"; }
.hx-chrome:before { content: "\f5b5"; }
.hx-cmcm:before { content: "\f5b6"; }
.hx-cmcm2:before { content: "\f5b7"; }
.hx-dolphin:before { content: "\f5b8"; }
.hx-edge:before { content: "\f5b9"; }
.hx-firefox:before { content: "\f5ba"; }
.hx-ie:before { content: "\f5bb"; }
.hx-midori:before { content: "\f5bc"; }
.hx-mxcloud:before { content: "\f5bd"; }
.hx-maxthon:before { content: "\f5be"; }
.hx-netscape:before { content: "\f5bf"; }
.hx-opera:before { content: "\f5c0"; }
.hx-operanew:before { content: "\f5c1"; }
.hx-qqllq:before { content: "\f5c2"; }
.hx-qupzilla:before { content: "\f5c3"; }
.hx-safari:before { content: "\f5c4"; }
.hx-sgllq:before { content: "\f5c5"; }
.hx-theworld:before { content: "\f5c6"; }
.hx-tor:before { content: "\f5c7"; }
.hx-uc:before { content: "\f5c8"; }
.hx-vivaldi:before { content: "\f5c9"; }
.hx-waterfox:before { content: "\f5ca"; }
.hx-webkit:before { content: "\f5cb"; }
.hx-yandex:before { content: "\f5cc"; }
.hx-mailblank:before { content: "\f3d3"; }
.hx-youxiangdashi:before { content: "\f5cd"; }
.hx-mailempty:before { content: "\f5ce"; }
.hx-map:before { content: "\f5cf"; }
.hx-mdn:before { content: "\f5d0"; }
.hx-mdnn:before { content: "\f5d1"; }
.hx-meiriyw:before { content: "\f5d2"; }
.hx-menu:before { content: "\f5d3"; }
.hx-messenger:before { content: "\f5d4"; }
.hx-microsoft:before { content: "\f5d5"; }
.hx-mobile:before { content: "\f5d6"; }
.hx-mozilla:before { content: "\f5d7"; }
.hx-360:before { content: "\f5d8"; }
.hx-aigo:before { content: "\f5d9"; }
.hx-alcatel:before { content: "\f5da"; }
.hx-apple:before { content: "\f5db"; }
.hx-blackberry:before { content: "\f5dc"; }
.hx-cardboard:before { content: "\f5dd"; }
.hx-coolpad:before { content: "\f5de"; }
.hx-doov:before { content: "\f5df"; }
.hx-galaxy:before { content: "\f5e0"; }
.hx-gionee:before { content: "\f5e1"; }
.hx-honor:before { content: "\f5e2"; }
.hx-htc:before { content: "\f5e3"; }
.hx-huawei:before { content: "\f5e4"; }
.hx-jianguo:before { content: "\f5e5"; }
.hx-ktouch:before { content: "\f5e6"; }
.hx-le:before { content: "\f5e7"; }
.hx-lecool:before { content: "\f5e8"; }
.hx-lenovo:before { content: "\f5e9"; }
.hx-lemeng:before { content: "\f5ea"; }
.hx-moto:before { content: "\f5eb"; }
.hx-zuk:before { content: "\f5ec"; }
.hx-lg:before { content: "\f5ed"; }
.hx-meitu:before { content: "\f5ee"; }
.hx-meizu:before { content: "\f5ef"; }
.hx-meizuicon:before { content: "\f5f0"; }
.hx-meilan:before { content: "\f5f1"; }
.hx-mi:before { content: "\f5f2"; }
.hx-micromax:before { content: "\f5f3"; }
.hx-nokia:before { content: "\f5f4"; }
.hx-ozo:before { content: "\f5f5"; }
.hx-nova:before { content: "\f5f6"; }
.hx-oculus:before { content: "\f5f7"; }
.hx-oneplus:before { content: "\f5f8"; }
.hx-oppo:before { content: "\f5f9"; }
.hx-pixel:before { content: "\f5fa"; }
.hx-rongyao:before { content: "\f5fb"; }
.hx-samsung:before { content: "\f5fc"; }
.hx-sharp:before { content: "\f5fd"; }
.hx-sony:before { content: "\f5fe"; }
.hx-tcl:before { content: "\f5ff"; }
.hx-vertu:before { content: "\f600"; }
.hx-vive:before { content: "\f601"; }
.hx-vivo:before { content: "\f602"; }
.hx-xperia:before { content: "\f603"; }
.hx-zte:before { content: "\f604"; }
.hx-nubia:before { content: "\f605"; }
.hx-msg:before { content: "\f606"; }
.hx-onenote:before { content: "\f607"; }
.hx-att:before { content: "\f608"; }
.hx-chinatelecom:before { content: "\f609"; }
.hx-cmcc:before { content: "\f60a"; }
.hx-cmccand:before { content: "\f60b"; }
.hx-cthuango:before { content: "\f60c"; }
.hx-o2:before { content: "\f60d"; }
.hx-orange:before { content: "\f60e"; }
.hx-sprint:before { content: "\f60f"; }
.hx-tmobile:before { content: "\f610"; }
.hx-unicom:before { content: "\f611"; }
.hx-unicom4g:before { content: "\f612"; }
.hx-unicomwo:before { content: "\f613"; }
.hx-verizon:before { content: "\f614"; }
.hx-vodafone:before { content: "\f615"; }
.hx-opensource:before { content: "\f616"; }
.hx-openvpn:before { content: "\f617"; }
.hx-386bsd:before { content: "\f618"; }
.hx-alpinelinux:before { content: "\f619"; }
.hx-amigaos:before { content: "\f61a"; }
.hx-android:before { content: "\f61b"; }
.hx-antergos:before { content: "\f61c"; }
.hx-anthon:before { content: "\f61d"; }
.hx-arch:before { content: "\f61e"; }
.hx-atari:before { content: "\f61f"; }
.hx-budgieremix:before { content: "\f620"; }
.hx-centos:before { content: "\f621"; }
.hx-chakra:before { content: "\f622"; }
.hx-chaletos:before { content: "\f623"; }
.hx-chapeau:before { content: "\f624"; }
.hx-clearos:before { content: "\f625"; }
.hx-clonezilla:before { content: "\f626"; }
.hx-coreos:before { content: "\f627"; }
.hx-cyanogenmod:before { content: "\f628"; }
.hx-debian:before { content: "\f629"; }
.hx-deepin:before { content: "\f62a"; }
.hx-dockrer:before { content: "\f62b"; }
.hx-dragonflybsd:before { content: "\f62c"; }
.hx-easypeasy:before { content: "\f62d"; }
.hx-elementary:before { content: "\f62e"; }
.hx-emind:before { content: "\f62f"; }
.hx-fedora:before { content: "\f630"; }
.hx-freebsd:before { content: "\f631"; }
.hx-freedos:before { content: "\f632"; }
.hx-frugalware:before { content: "\f633"; }
.hx-gentoo:before { content: "\f634"; }
.hx-gnewsense:before { content: "\f635"; }
.hx-gnome:before { content: "\f636"; }
.hx-gobuntu:before { content: "\f637"; }
.hx-haiku:before { content: "\f638"; }
.hx-ios:before { content: "\f4ee"; }
.hx-kali:before { content: "\f639"; }
.hx-kde:before { content: "\f63a"; }
.hx-knoppix:before { content: "\f63b"; }
.hx-kodi:before { content: "\f63c"; }
.hx-kubuntu:before { content: "\f63d"; }
.hx-kylin:before { content: "\f63e"; }
.hx-linux:before { content: "\f63f"; }
.hx-linuxfoundation:before { content: "\f640"; }
.hx-lubuntu:before { content: "\f641"; }
.hx-luneos:before { content: "\f642"; }
.hx-m0n0wall:before { content: "\f643"; }
.hx-macos:before { content: "\f4ef"; }
.hx-mageia:before { content: "\f644"; }
.hx-mandriva:before { content: "\f645"; }
.hx-manjaro:before { content: "\f646"; }
.hx-mate:before { content: "\f647"; }
.hx-mint:before { content: "\f648"; }
.hx-mokee:before { content: "\f649"; }
.hx-neokylin:before { content: "\f64a"; }
.hx-neon:before { content: "\f64b"; }
.hx-nethserver:before { content: "\f64c"; }
.hx-netrunner:before { content: "\f64d"; }
.hx-nexenta:before { content: "\f64e"; }
.hx-nixos:before { content: "\f64f"; }
.hx-openbsd:before { content: "\f650"; }
.hx-openelec:before { content: "\f651"; }
.hx-openmandriva:before { content: "\f652"; }
.hx-opensolaris:before { content: "\f653"; }
.hx-opensuse:before { content: "\f654"; }
.hx-parrot:before { content: "\f655"; }
.hx-parsix:before { content: "\f656"; }
.hx-pclinux:before { content: "\f657"; }
.hx-peppermint:before { content: "\f658"; }
.hx-phoenixos:before { content: "\f659"; }
.hx-pidora:before { content: "\f65a"; }
.hx-plasmamobile:before { content: "\f65b"; }
.hx-pldlinux:before { content: "\f65c"; }
.hx-puppy:before { content: "\f65d"; }
.hx-qomo:before { content: "\f65e"; }
.hx-qubes:before { content: "\f65f"; }
.hx-reactos:before { content: "\f660"; }
.hx-redflag:before { content: "\f661"; }
.hx-redhat:before { content: "\f662"; }
.hx-remixos:before { content: "\f663"; }
.hx-replicant:before { content: "\f664"; }
.hx-riscos:before { content: "\f665"; }
.hx-rosa:before { content: "\f666"; }
.hx-sabayon:before { content: "\f667"; }
.hx-sailfishos:before { content: "\f668"; }
.hx-salix:before { content: "\f669"; }
.hx-savoirfaire:before { content: "\f66a"; }
.hx-siduction:before { content: "\f66b"; }
.hx-slackware:before { content: "\f66c"; }
.hx-smartos:before { content: "\f66d"; }
.hx-solus:before { content: "\f66e"; }
.hx-steam:before { content: "\f66f"; }
.hx-sun:before { content: "\f670"; }
.hx-suse:before { content: "\f671"; }
.hx-syberos:before { content: "\f672"; }
.hx-tizen:before { content: "\f673"; }
.hx-trisquel:before { content: "\f674"; }
.hx-trueos:before { content: "\f675"; }
.hx-ubuntu:before { content: "\f676"; }
.hx-ubuntugnome:before { content: "\f677"; }
.hx-ubuntukylin:before { content: "\f678"; }
.hx-ubuntumate:before { content: "\f679"; }
.hx-ubuntustudio:before { content: "\f67a"; }
.hx-win10:before { content: "\f67b"; }
.hx-win7:before { content: "\f67c"; }
.hx-winphone:before { content: "\f67d"; }
.hx-xfce:before { content: "\f67e"; }
.hx-xubuntu:before { content: "\f67f"; }
.hx-yunos:before { content: "\f680"; }
.hx-zorin:before { content: "\f681"; }
.hx-angular:before { content: "\f4f0"; }
.hx-outlook:before { content: "\f682"; }
.hx-alipay:before { content: "\f683"; }
.hx-americanexpress:before { content: "\f684"; }
.hx-bitcoin:before { content: "\f685"; }
.hx-dinersclub:before { content: "\f686"; }
.hx-discover:before { content: "\f687"; }
.hx-jcb:before { content: "\f688"; }
.hx-mastercard:before { content: "\f689"; }
.hx-paypal:before { content: "\f68a"; }
.hx-unionpay:before { content: "\f68b"; }
.hx-visa:before { content: "\f68c"; }
.hx-wechatpay:before { content: "\f68d"; }
.hx-people:before { content: "\f68e"; }
.hx-phone:before { content: "\f68f"; }
.hx-php:before { content: "\f690"; }
.hx-pic:before { content: "\f498"; }
.hx-pic2:before { content: "\f691"; }
.hx-pill:before { content: "\f692"; }
.hx-pin:before { content: "\f693"; }
.hx-pindown:before { content: "\f694"; }
.hx-pinterest:before { content: "\f695"; }
.hx-pixiv:before { content: "\f696"; }
.hx-pyq:before { content: "\f697"; }
.hx-python:before { content: "\f698"; }
.hx-qcloud:before { content: "\f699"; }
.hx-qianniu:before { content: "\f69a"; }
.hx-qieniang:before { content: "\f69b"; }
.hx-qiniu:before { content: "\f4f1"; }
.hx-qqmail:before { content: "\f69c"; }
.hx-qqnews:before { content: "\f69d"; }
.hx-qqtim:before { content: "\f4f2"; }
.hx-qt:before { content: "\f69e"; }
.hx-qzone:before { content: "\f69f"; }
.hx-ribbon:before { content: "\f6a0"; }
.hx-right:before { content: "\f6a1"; }
.hx-rss:before { content: "\f6a2"; }
.hx-rust:before { content: "\f6a3"; }
.hx-safe:before { content: "\f6a4"; }
.hx-search:before { content: "\f6a5"; }
.hx-setting:before { content: "\f6a6"; }
.hx-setting2:before { content: "\f6a7"; }
.hx-sfgreen:before { content: "\f4f3"; }
.hx-share:before { content: "\f6a8"; }
.hx-share2:before { content: "\f6a9"; }
.hx-sharearrow:before { content: "\f6aa"; }
.hx-skydrive:before { content: "\f6ab"; }
.hx-skype:before { content: "\f6ac"; }
.hx-slack:before { content: "\f6ad"; }
.hx-smile:before { content: "\f6ae"; }
.hx-snapchat:before { content: "\f6af"; }
.hx-sogou:before { content: "\f6b0"; }
.hx-solaris:before { content: "\f6b1"; }
.hx-spotify:before { content: "\f6b2"; }
.hx-stackoverflow:before { content: "\f6b3"; }
.hx-starred:before { content: "\f6b4"; }
.hx-swift:before { content: "\f6b5"; }
.hx-symantec:before { content: "\f6b6"; }
.hx-tags:before { content: "\f6b7"; }
.hx-telegram:before { content: "\f6b8"; }
.hx-tieba:before { content: "\f6b9"; }
.hx-todo:before { content: "\f6ba"; }
.hx-tumblr:before { content: "\f6bb"; }
.hx-ublock:before { content: "\f6bc"; }
.hx-v2ex:before { content: "\f6bd"; }
.hx-viber:before { content: "\f6be"; }
.hx-virtualbox:before { content: "\f6bf"; }
.hx-vk:before { content: "\f6c0"; }
.hx-vlc:before { content: "\f6c1"; }
.hx-vmware:before { content: "\f6c2"; }
.hx-vs:before { content: "\f6c3"; }
.hx-w3c:before { content: "\f6c4"; }
.hx-warn:before { content: "\f6c5"; }
.hx-webstore:before { content: "\f6c6"; }
.hx-widgets:before { content: "\f6c7"; }
.hx-wordpress:before { content: "\f6c8"; }
.hx-x64:before { content: "\f6c9"; }
.hx-x64c:before { content: "\f6ca"; }
.hx-x86:before { content: "\f6cb"; }
.hx-x86c:before { content: "\f6cc"; }
.hx-xunlei:before { content: "\f6cd"; }
.hx-youtube:before { content: "\f6ce"; }
.hx-zhihu:before { content: "\f6cf"; }
[class^="hx-"]:after { display: none;line-height: 1.2;}
.hx-alipay:after { content: "支付宝"; }
.hx-americanexpress:after { content: "美国运通"; }
.hx-bitcoin:after { content: "比特币"; }
.hx-dinersclub:after { content: "大来卡"; }
.hx-discover:after { content: "发现卡"; }
.hx-jcb:after { content: "日财卡"; }
.hx-mastercard:after { content: "万事达卡"; }
.hx-paypal:after { content: "贝宝支付"; }
.hx-unionpay:after { content: "银联卡"; }
.hx-visa:after { content: "维萨卡"; }
.hx-wechatpay:after { content: "微信支付"; }
.hx-abc:after { content: "农业银行"; }
.hx-anz:after { content: "澳新银行"; }
.hx-bae:after { content: "东亚银行"; }
.hx-beijing:after { content: "北京银行"; }
.hx-boc:after { content: "中国银行"; }
.hx-bocom:after { content: "交通银行"; }
.hx-bohai:after { content: "渤海银行"; }
.hx-ccb:after { content: "建设银行"; }
.hx-ceb:after { content: "光大银行"; }
.hx-cgb:after { content: "广发银行"; }
.hx-cib:after { content: "兴业银行"; }
.hx-citi:after { content: "花旗银行"; }
.hx-citic:after { content: "中信银行"; }
.hx-cmb:after { content: "招商银行"; }
.hx-cmbc:after { content: "民生银行"; }
.hx-dahsing:after { content: "大新银行"; }
.hx-dbs:after { content: "星展银行"; }
.hx-fubon:after { content: "富邦银行"; }
.hx-hengfeng:after { content: "恒丰银行"; }
.hx-hengsheng:after { content: "恒生银行"; }
.hx-hkb:after { content: "汉口银行"; }
.hx-hsbc:after { content: "汇丰银行"; }
.hx-huarun:after { content: "华润银行"; }
.hx-hxb:after { content: "华夏银行"; }
.hx-icbc:after { content: "工商银行"; }
.hx-jinshang:after { content: "晋商银行"; }
.hx-mybank:after { content: "网商银行"; }
.hx-ncb:after { content: "南洋商业"; }
.hx-ningbo:after { content: "宁波银行"; }
.hx-ocbc:after { content: "华侨永亨"; }
.hx-pbc:after { content: "人民银行"; }
.hx-pingan:after { content: "平安银行"; }
.hx-psbc:after { content: "邮政储蓄"; }
.hx-sc:after { content: "渣打银行"; }
.hx-shanghai:after { content: "上海银行"; }
.hx-shengjing:after { content: "盛京银行"; }
.hx-spdb:after { content: "浦发银行"; }
.hx-taiwan:after { content: "台湾银行"; }
.hx-ubs:after { content: "瑞银集团"; }
.hx-uob:after { content: "大华银行"; }
.hx-webank:after { content: "微众银行"; }
.hx-xinhe:after { content: "中国信合"; }
.hx-zheshang:after { content: "浙商银行"; }
.hx-ie:after { content: "IE"; }
.hx-edge:after { content: "Edge"; }
.hx-firefox:after { content: "火狐"; }
.hx-chrome:after { content: "Chrome"; }
.hx-operanew:after { content: "Opera"; }
.hx-opera:after { content: "Opera"; }
.hx-safari:after { content: "Safari"; }
.hx-maxthon:after { content: "傲游"; }
.hx-mxcloud:after { content: "傲游云"; }
.hx-360se:after { content: "360安全"; }
.hx-360chrome:after { content: "360极速"; }
.hx-qqllq:after { content: "QQ"; }
.hx-bdllq:after { content: "百度"; }
.hx-sgllq:after { content: "搜狗"; }
.hx-theworld:after { content: "世界之窗"; }
.hx-vivaldi:after { content: "Vivaldi"; }
.hx-yandex:after { content: "Yadex"; }
.hx-waterfox:after { content: "水狐"; }
.hx-netscape:after { content: "网景"; }
.hx-qupzilla:after { content: "Qupzilla"; }
.hx-midori:after { content: "Midori"; }
.hx-tor:after { content: "洋葱"; }
.hx-webkit:after { content: "Webkit"; }
.hx-uc:after { content: "UC"; }
.hx-bdmllq:after { content: "百度"; }
.hx-dolphin:after { content: "海豚"; }
.hx-cmcm2:after { content: "猎豹"; }
.hx-cmcm:after { content: "猎豹"; }
.hx-abp:after { content: "ABP"; }
.hx-ublock:after { content: "uBlock"; }
.hx-ghostery:after { content: "Ghostery"; }
.hx-globe:after { content: "地球"; }
.hx-internet:after { content: "网络"; }
.hx-addons:after { content: "附加组件"; }
.hx-webstore:after { content: "网上商店"; }
